/* RESET GENERALI */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* STYLE HEADER */

.page-header{
  padding: 25px;
  background-image: url("../img/pattern.png") ;
  background-size: contain;
  background-color: white;

}

.page-header .logo{
  height: 57px;
  border: 3px solid rgb(127, 166, 251);
}

body{
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
/* STYLE MAIN */

/* centrato del elemento */
.container{
  margin: 24px auto;

}

/* style card */
.card{
  padding: 24px;
  max-width: 800px;
  border-radius: 25px;
  background-color: white;
}

/* style button scelta */
.button-card{
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
}

.button-on{
  background-color: rgb(127, 166, 251);
}

.button-off{
  background-color: white;
  border: 2px solid rgb(127, 166, 251);
}

/* titoli card */
.new-task-list{
  margin-top: 18px;
}

.section-span span{
  font-size: 21px;
}

.title-list{
  display: inline;
}


/* STYLE LISTE */

/* opzioni liste */
.card-list li{
  list-style: none;
  margin-top: 15px;
}

/* style di marchi delle liste */
.mark-list{
  width: 7px;
  height: 7px;
  font-size: 10px;
  margin-right: 9px;
  padding: 2px;
  border-radius: 50%;
}


.mark-on{
  color: rgb(114, 190, 171);
  border: 2px solid rgb(114, 190, 171);

}

.mark-off{
  color: rgb(216, 69, 50);
  border: 2px solid rgb(216, 69, 50);

}

.testo-list{
  font-size: 10px;
  color: white;
  padding: 2px 4px;
  border-radius: 18px;
}

.testo-blu{
  background-color: rgb(88, 163, 229);
}

.testo-viola{
  background-color: rgb(159, 108, 217);
}

.testo-griggio{
  background-color: rgb(106, 193, 174);
}

.testo-marrone{
  background-color: rgb(235, 163, 60);
}
.testo-verde{
  background-color: rgb(175, 206, 74);
}
.testo-rosa{
  background-color: rgb(220, 93, 155);
}

/* STYLE ESSTRA */

.container, .logo{
  box-shadow: 3px 3px 9px black ;
}